header#top{
    nav{
        background-color: var(--primary-background-color);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;

        img{
            max-width: 50px;
            max-height: 50px;
            margin-right: 5%;
        }

        a{
            margin-right: 80px;
            text-decoration: none;
            color: var(--primary-font-color);            
            transition: 0.3s;            
        }

        a:hover{
            transform: rotate(10deg);            
        }

        a.exit{
            color: var(--primary-a-color);
        }

        h4{
            margin-left: auto;
        }

    }
}

