@import url(vars.css);
@import url(header.css);
@import url(cta.css);
@import url(pelis.css);
@import url(footer.css);

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);

  font: 16px Verdana;
}




main#login{
  display: flex;
  flex-direction: column;
}